@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/Inter_24pt-Regular.ttf);
  font-weight: 400px;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/Inter_28pt-Bold.ttf);
  font-weight: 700px;
}